<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.GreenBill"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="SplashScreenActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="SelectionActivity"></activity><activity android:name="XNActivity"></activity>
        <activity android:name="billdetailsActivity"></activity>
        <activity android:name="BillItemCreateActivity"></activity>
        
        <activity android:name="ColumnActivity"></activity>
        <activity android:name="ThirdColumnActivity"></activity>
        <activity android:name="FourthColumActivity"></activity>
        <activity android:name="FifthColumActivity"></activity>
        <activity android:name="ColumnActivityItem"></activity>
        <activity android:name="ThirdColumnActivityItem"></activity>
        <activity android:name="FourthColumnActivityItem"></activity>

    </application>
</manifest>